USERNAMES_WHITELIST="johndoe,janedoe"

EARTHDATA_LOGIN="john.doe@university.edu"
EARTHDATA_PASSWORD="MySecureP@ssw0rd!"

EDL_TOKEN="eyJ0eXAiOiJKV1QiLCJhbGci..."

EARTHDATA_MAX_NUM_REQUESTS_PER_SEC=40

B2_BUCKET_NAME="my-earthdata-results"
B2_ACCOUNT_ID="004a1b2c3d4e5f0000000001"
B2_APPLICATION_KEY="K004xYzAbCdEfGhIjKlMnOpQrStUvWx"
B2_SAVED_RESULTS_ROOTDIR="EARTHDATA_AUTO_DNLD/"
