SAVED_RESULTS_ROOTDIR="/path/to/mounted/cloud/drive/folder/"

NTFY_SH_TOPIC_URL="https://ntfy.sh/yourTopicName"

EARTHDATA_LOGIN="your_earthdata_login"
EARTHDATA_PASSWORD="your_earthdata_password"

EDL_TOKEN="your_edl_token"

EARTHDATA_MAX_NUM_REQUESTS_PER_SEC=70
